.ROWS {
  display: grid;

  grid-template-rows: 70px 80px 250px 70px;

  border: solid;
  border-color: blue;
}

.COLS {
  display: grid;
  grid-template-columns: auto auto;
}

div {
  border: solid;
  border-color: #fff;
}

.Header, .Navigation, .COLS, .Footer {
  
}

div.Header {
  background-color: #D10B0F;
}

p.Content {
  text-align: center;
  
  border: solid;
  border-color: yellow;
}
