@media screen and (min-width: 450px) {

    main {
        display: flex;
    }
    
}

.ARTICLE {
    padding: 20px;
    border: solid #000000;
}

.PICTURES {
    border: solid #313131;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

img, video {
    width: 100%;
    height: auto;
}
